.advertisement{
  background-image: url("./../images/Group_13.png");
  min-height: 995px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  &__title{
    font-family: $font-roboto;
    @include fluidFontSize(22px, 75px, 320px, 1700px, 22px);
    margin-bottom: 50px;
  }

  &__text{
    font-size: 40px;
    font-family: $font-roboto;

    @media screen and (max-width: 1024px){
      font-size: 35px;
    }

    @media screen and (max-width: 992px){
      font-size: 20px;
    }

  }

  @media screen and (max-width: 1366px){
    min-height: 715px;
  }

  @media screen and (max-width: 1024px){
    min-height: 540px;
  }

  @media screen and (max-width: 992px){
    min-height: 510px;
  }

}