{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "window": true,
    "$": true,
    "L": true,
    "jQuery": true,
    "Highcharts": true,
    "moment": true,
    "google": true
  },
  "rules": {
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": [
      "off",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ]
  }
}